<!DOCTYPE html>
<html lang="pt-br">
    <%- include('preDefinicao.ejs') %>
<body>
    <%- include('navegacao.ejs') %>
    
    <h1>Deletar Livro do Acervo</h1>
    <h4>Digite o ISBN do livro a ser deletado do acervo</h4>

        <form action="/atualizardadosacervo/deletar" method="POST">
                    
            <label for="ISBN">ISBN: </label>
            <input type="text" id="ISBN" name="ISBN" required>
            <br>
            <button type="submit"> Enviar </button>
        
        </form>

        <%if (mensagem) %> <p><%=mensagem%></p>
</section>
    <%- include('rodape.ejs') %>    

    </body>
</html>