<!DOCTYPE html>
<html lang="pt-br">
    <%- include('preDefinicao.ejs') %>
<body>
<%- include('navegacao.ejs') %>
    
<h5><%=mensagem%></h5>

<script>window.alert(<"Erro!">)</script>
  <%- include('rodape.ejs') %>   
   </body>
</html>