<footer>
    <!-- <figure>
        <img src="../img/develas.png" alt="" height="40">
    </figure> -->

    
    <p><b>&copy;2022 Biblioteca Coder</b></p>
    
    <div> 
        <h5 class="entry-title2" style="text-align:center">Nossa missão: </h6> 
            <p style="text-align:center" class="entry-content">
            <b>"Promover o acesso gratuito de livros de diferentes categorias e incentivar o uso e a geração da informação, contribuindo para o desenvolvimento pessoal e profissional de seus usuários."</b> 
            </p>
    </div><p>

     <b> - Desenvolvido por Alize Leal Pereira, Carolina Nogueira, Giselle Castro, Simone Shiozawa - Todos os direitos reservados</b></p>
</footer>